<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" sizeLg="6">
      <div [formGroup]="formGroup">
        <ci-search formControlName="keywords"></ci-search>
      </div>
    </ion-col>
    <ion-col size="12" sizeLg="6">
      <div class="movie-header-container">
        <ci-icon-button [color]="!withTrashed ? 'danger' : 'light'" [size]="sizes.medium" (click)="loadOnlyTrashedData()">
          <ci-icon [name]="iconsEnum.trash" [size]="sizes.medium"></ci-icon>
        </ci-icon-button>
        <ci-button color="secondary" [routerLink]="'/panel/movies/form'">
          <ci-icon [name]="iconsEnum.add"></ci-icon>
          Add movie
        </ci-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-container *ngIf="!loadData">
  <div class="ion-margin-vertical">
    <ci-not-found [data]="data"></ci-not-found>
  </div>
</ng-container>
<ng-container *ngIf="loadData">
  <ion-list>
    <ion-item class="ion-margin-vertical" *ngFor="let row of [].constructor(10); let i = index">
      <div class="skeleton-container">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 14px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 10px"></ion-skeleton-text>
      </div>
    </ion-item>
  </ion-list>
</ng-container>