<ng-container *ngIf="movie">
  <ci-card class="movie-container">
    <ion-card-header>
      <div class="movie-thumbnail" [ngStyle]="{'background-image': 'url('+movie.data.image+')'}">
      </div>
      <ion-card-title>{{movie.data.name}}</ion-card-title>
      <ion-card-subtitle><div class="movie-description" [innerHTML]="movie.data.description"></div></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-right">
      <ci-button color="tertiary" [size]="buttonSizes.small" [routerLink]="'/movie/2'">
        Where to watch?
        <ci-icon class="ion-horizontal-padding" slot="end" [name]="iconsEnum.forward"></ci-icon>
      </ci-button>
    </ion-card-content>
  </ci-card>
</ng-container>
