<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="4" offset-md="4">
      <form [formGroup]="formGroup">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Enter email</ion-label>
            <ion-input placeholder="Enter email" type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input placeholder="Enter name" type="test" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input placeholder="Enter password" type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Confirm password</ion-label>
            <ion-input placeholder="Confirm password" type="password" formControlName="password_confirmation"></ion-input>
          </ion-item>
        </ion-list>

        <div class="ion-text-center ion-margin-top">
          <ci-button color="primary" (click)="signUp()" [promise]="signUpButton">
            Sign Up
          </ci-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>