<ion-grid>
    <ion-row>
        <ion-col size="12" sizeMd="4" offsetMd="4">
            <form [formGroup]="formGroup">
                <ion-list>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <ci-input label="Enter email" formControlName="email" [type]="inputTypes.email"></ci-input>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ci-input label="Enter password" formControlName="password" [type]="inputTypes.password"></ci-input>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <div class="ion-text-center">
                                    <ci-button color="primary" (click)="signIn()" [promise]="promise">
                                        Login
                                    </ci-button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-list>
            </form>
        </ion-col>
    </ion-row>
</ion-grid>