<ci-modal-container title="Change password">
  <ci-modal-content>
    <form [formGroup]="formGroup">
      <div class="ion-margin-vertical">
        <ci-input label="Old password" formControlName="old_password" [type]="inputTypes.password"></ci-input>
      </div>
      <div class="ion-margin-vertical">
        <ci-input label="New password" formControlName="password" [type]="inputTypes.password"></ci-input>
      </div>
      <div class="ion-margin-vertical">
        <ci-input label="Repeat new password" formControlName="password_confirmation" [type]="inputTypes.password"></ci-input>
      </div>
    </form>
  </ci-modal-content>
  <ci-modal-footer>
    <ci-button (click)="update()">
      Update
    </ci-button>
  </ci-modal-footer>
</ci-modal-container>