<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ng-container *ngIf="pageNameIcon">
        <ci-icon [name]="pageNameIcon"></ci-icon>
      </ng-container>
      {{pageName}}
    </ion-title>
    <div slot="end" class="header-end-container">
      <ci-dropdown [navItems]="navItems">
        <ci-icon-button [shape]="shapeEnum.circle" [size]="sizeEnum.medium" color="secondary">
          <ci-icon [name]="iconsEnum.more" [size]="sizeEnum.large" slot="icon-only"></ci-icon>
        </ci-icon-button>
      </ci-dropdown>
    </div>
  </ion-toolbar>
</ion-header>