:host {
    .header-end-container {
        padding-right: 20px;
    }

    .options-container {
        display: none;
    }
}

::ng-deep .panel-logout-select-option {
    --color: var(--ion-color-danger);
}