<ci-breadcrumbs></ci-breadcrumbs>
<ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
        <ion-col size="6">
            <ion-searchbar placeholder="Custom Placeholder" mode="ios"></ion-searchbar>
        </ion-col>
    </ion-row>
</ion-grid>
<ci-pagination>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="4" *ngFor="let cinema of topCinemas.data | paginate: { itemsPerPage: topCinemas.pagination.items_per_page, currentPage: topCinemas.pagination.current_page, totalItems: topCinemas.pagination.total_items }">
                <ci-cinema [cinema]="cinema"></ci-cinema>
            </ion-col>
        </ion-row>
    </ion-grid>
</ci-pagination>