<ng-container *ngIf="formGroup">
  <ion-list [formGroup]="formGroup">
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="4" offsetLg="2" size="12">
          <ion-list>
            <ci-input label="Name" formControlName="name"></ci-input>
          </ion-list>
          <ion-list>
            <ci-input label="Address" formControlName="address"></ci-input>
          </ion-list>
        </ion-col>
        <ion-col size="12" sizeLg="4">
          <ci-textarea [maxLength]="descriptionLength" [rows]="5" label="Description" formControlName="description">
          </ci-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeLg="8" offsetLg="2">
          <ci-seats formControlName="capacity" label="Add seats"></ci-seats>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeLg="8" offsetLg="2">
          <ci-upload-images formControlName="logo" label="Upload logo image" [multiple]="false"></ci-upload-images>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeLg="8" offsetLg="2">
          <ci-upload-images formControlName="images" label="Upload background images"></ci-upload-images>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeLg="8" offsetLg="2">
          <ci-google-maps formControlName="location" label="Location"></ci-google-maps>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" sizeLg="8" offsetLg="2">
          <div class="ion-text-right">
            <ng-container *ngIf="cinemaId && !cinema.attributes.deleted_at">
              <ci-button color="danger" (click)="delete()" [promise]="deletePromise">
                Delete
              </ci-button>
            </ng-container>
            <ng-container *ngIf="cinemaId && cinema.attributes.deleted_at">
              <ci-button color="danger" (click)="restore()" [promise]="deletePromise">
                Restore
              </ci-button>
            </ng-container>
            <ci-button [promise]="savePromise" color="primary" (click)="create()">
              <ng-container *ngIf="!cinemaId">
                Create
              </ng-container>
              <ng-container *ngIf="cinemaId">
                Update
              </ng-container>
            </ci-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ng-container>