<div class="avatar-container">
    <ci-avatar [clickable]="true"></ci-avatar>
    <ion-chip>
        <ion-text color="primary">{{user?.name}}</ion-text>
        <br>
        <ci-subtitle>
            <ion-text color="secondary">{{user?.email}}</ion-text>
        </ci-subtitle>
    </ion-chip>
</div>
<ion-content>
    <ion-list>
        <ng-container *ngFor="let navItem of navigationItems">
            <ion-item-group>
                <ng-container *ngIf="navItem.children.length > 0">
                    <ion-item-divider>{{navItem.label}}</ion-item-divider>
                    <ng-container *ngFor="let subNavItem of navItem.children">
                        <ion-item [routerLink]="subNavItem.routerLink" [routerLinkActive]="['is-active']" button>
                            <ci-icon *ngIf="subNavItem.icon" [size]="sizesEnum.medium" [name]="subNavItem.icon" color="secondary" slot="start"></ci-icon>
                            <ion-label color="primary">{{subNavItem.label}}</ion-label>
                        </ion-item>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="navItem.children.length === 0">
                    <ion-item [routerLink]="navItem.routerLink" [routerLinkActive]="['is-active']" button>
                        <ci-icon *ngIf="navItem.icon" [size]="sizesEnum.medium" [name]="navItem.icon" color="secondary" slot="start"></ci-icon>
                        <ion-label color="primary">{{navItem.label}}</ion-label>
                    </ion-item>
                </ng-container>
            </ion-item-group>
        </ng-container>
    </ion-list>
</ion-content>