<ion-item [formGroup]="formGroup">
  <ion-label position="floating">
    {{label}}
    <ng-container *ngIf="isRequired">
      <ion-text color="danger">*</ion-text>
    </ng-container>
  </ion-label>
  <ion-textarea [formControlName]="formControlName" (ionChange)="onControlChange($event)" [rows]="rows" [placeholder]="placeholder"></ion-textarea>
</ion-item>
<div class="length-container" *ngIf="withCounter">
  {{currentLength}}
  <ng-container *ngIf="maxLength">
    / {{maxLength}}
  </ng-container>
</div>