<div class="outside-swiper-container">
  <swiper [slidesPerView]="1" [config]="swiperConfig">
    <ng-container *ngFor="let slider of cinema.data.images">
      <ng-template swiperSlide>
        <div class="slide-container" [ngStyle]="{'background-image': 'url('+slider+')'}"></div>
      </ng-template>
    </ng-container>
  </swiper>
  <div class="swiper-cinema-logo-container">
    <ng-container *ngIf="cinema.data.logo">
      <ci-avatar [img]="cinema.data.logo"></ci-avatar>
    </ng-container>
    <div class="cinema-title">
      {{cinema.data.name}}
    </div>
  </div>
</div>
<div class="ion-margin-vertical">
  <ci-page-title [underline]="true">Movies</ci-page-title>
</div>
<ng-container *ngFor="let movie of cinema.relationships.movies.data">
  <ci-card>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img [src]="movie.data.image" alt="Movie" />
          </ion-col>
          <ion-col size="9">
            <div [routerLink]="'/movie/'+movie.id" class="movie-title-route">
              <ci-title>
                <ion-text color="primary">
                  {{movie.data.name}}
                </ion-text>
              </ci-title>
            </div>
            <ng-container *ngIf="movie.data.description">
              <div>
                <ci-subtitle>
                  <ion-text color="secondary">
                    {{movie.data.description}}
                  </ion-text>
                </ci-subtitle>
              </div>
            </ng-container>
            <div class="ion-margin-vertical">
              <ng-container *ngFor="let date of getDatesByMovieId(movie.id)">
                <ion-text color="primary">
                  <b>{{date.key | dateFormats: dateFormatsEnum.day_of_week}}</b> ({{date.key | dateFormats:
                  dateFormatsEnum.date}})
                </ion-text><br>
                <ng-container *ngFor="let slot of date.slots">
                  <ion-chip color="primary" [routerLink]="'/movie/form/'+movie.id" [queryParams]="{slotId: slot.id}">
                    {{slot.data.date | dateFormats: dateFormatsEnum.time}}
                    <ci-icon [name]="iconsEnum.forward" [size]="sizesEnum.small"></ci-icon>
                  </ion-chip>
                </ng-container>
                <br>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ci-card>
</ng-container>

<div class="ion-margin-vertical">
  <ci-page-title [underline]="true">How to find us</ci-page-title>
</div>

<div [formGroup]="formGroup">
  <ci-google-maps
    [draggable]="false"
    formControlName="map"
  ></ci-google-maps>
</div>