<div class="outside-swiper-container">
  <swiper [slidesPerView]="1" [config]="swiperConfig">
    <ng-container *ngFor="let slider of slidersData">
      <ng-template swiperSlide>
        <div class="slide-container" [ngStyle]="{'background-image': 'url('+slider.image+')'}"></div>
      </ng-template>
    </ng-container>
  </swiper>
  <div class="swiper-cinemas-container">
    <div class="swiper-cinemas-title">
      <ion-text color="primary">
        Welcom to CinemaCity
      </ion-text>
    </div>
    <div class="swiper-cinemas-buttons">
      <ci-button color="secondary" [size]="buttonSizes.small">List of cinemas</ci-button>
      <ci-button color="secondary" [size]="buttonSizes.small">List of movies</ci-button>
    </div>
  </div>
</div>
<div class="ion-margin-vertical">
  <ci-page-title [underline]="true">Top watched movies</ci-page-title>
</div>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="4" *ngFor="let movie of topMovies">
      <ci-movie [movie]="movie"></ci-movie>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2" offset="5">
      <div class="ion-text-center ion-margin-vertical">
        <ci-button color="secondary" [size]="buttonSizes.large">See more</ci-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="ion-margin-vertical">
  <ci-page-title [underline]="true">Top cinemas</ci-page-title>
</div>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="4" *ngFor="let cinema of topCinemas">
      <ci-cinema [cinema]="cinema"></ci-cinema>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2" offset="5">
      <div class="ion-text-center ion-margin-vertical">
        <ci-button color="secondary" [size]="buttonSizes.large">See more</ci-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>