:host {
  position: relative;
  height: 100%;
  width: 100%;

  .outside-swiper-container {
    position: relative;

    .swiper-cinemas-container {
      background-color: var(--ion-color-light);
      border-width: 2px 0 0 2px;
      border-style: solid;
      border-color: var(--ion-color-secondary);
      border-top-left-radius: 8px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 999;
      padding: 8px 14px;

      .swiper-cinemas-title {
        margin-bottom: 4px;
      }

      .swiper-cinemas-buttons {
        ::ng-deep {
          ci-button {
            margin: 0;

            &:first-child {
              margin: 0 2px 0 0;
            }
          }
        } 
      }
    }
  }

  .slide-container {
    background-color: #ccc;
    height: 450px;
    width: 100%;
    user-select: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
  }

  ::ng-deep .swiper-pagination {
    background-color: rgba(var(--ion-color-dark-rgb), .4);
    display: flex;
    align-items: center;
    width: unset;
    margin: auto;
    padding: 5px 10px;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      background-color: rgba(var(--ion-color-primary-rgb), .6);
    }

    .swiper-pagination-bullet-active {
      background-color: var(--ion-color-primary-contrast);
    }
  }

  ::ng-deep .swiper {
    .swiper-button-next {
      padding-left: 5px;
    }

    .swiper-button-next {
      padding-right: 5px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      --swiper-navigation-size: 24px;
      width: 38px;
      height: 38px;
      color: var(--ion-color-secondary);
      border-radius: 50%;
      transition: background-color 0.2s ease, color 0.2s ease;

      &:hover {
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
      }
    }
  }
}