<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" sizeLg="6">
      <div [formGroup]="formGroup">
        <ci-search formControlName="keywords"></ci-search>
      </div>
    </ion-col>
    <ion-col size="12" sizeLg="6">
      <div class="cinema-header-container">
        <ci-icon-button [color]="!withTrashed ? 'danger' : 'light'" [size]="sizes.medium"
          (click)="loadOnlyTrashedData()">
          <ci-icon [name]="iconsEnum.trash" [size]="sizes.medium"></ci-icon>
        </ci-icon-button>
        <ci-button color="secondary" [routerLink]="'/panel/cinemas/form'">
          <ci-icon [name]="iconsEnum.add"></ci-icon>
          Add cinema
        </ci-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-container *ngIf="!loadData">
  <ci-pagination>
    <ion-list>
      <ion-item *ngFor="let cinema of cinemas.data | paginate: { itemsPerPage: cinemas.per_page, currentPage: cinemas.current_page, totalItems: cinemas.total }; let i = index">
        <div>
          <ion-text [color]="cinema.attributes.deleted_at ? 'danger' : 'primary'">
            {{cinema.attributes.name}}
          </ion-text>
        </div>
        <div class="buttons-container" slot="end">
          <ci-icon-button [routerLink]="'form/' + cinema.id" [size]="sizes.default" color="primary">
            <ci-icon [name]="iconsEnum.edit" [size]="sizes.medium"></ci-icon>
          </ci-icon-button>
          <ci-icon-button *ngIf="!cinema.attributes.deleted_at" (click)="deleteCinema(cinema)" [size]="sizes.default" color="primary">
            <ci-icon [name]="iconsEnum.trash" [size]="sizes.medium"></ci-icon>
          </ci-icon-button>
          <ci-icon-button *ngIf="cinema.attributes.deleted_at" (click)="restoreCinema(cinema)" [size]="sizes.default" color="primary">
            <ci-icon [name]="iconsEnum.restore" [size]="sizes.medium"></ci-icon>
          </ci-icon-button>
        </div>
      </ion-item>
    </ion-list>
    <div class="ion-margin-vertical">
      <ci-not-found [data]="cinemas"></ci-not-found>
    </div>
  </ci-pagination>
</ng-container>
<ng-container *ngIf="loadData">
  <ion-list>
    <ion-item class="ion-margin-vertical" *ngFor="let row of [].constructor(10); let i = index">
      <div class="skeleton-container">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 14px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 10px"></ion-skeleton-text>
      </div>
    </ion-item>
  </ion-list>
</ng-container>