:host {
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0 calc((100% - var(--content-max-width)) / 2) 0 calc((100% - var(--content-max-width)) / 2); 
    margin: auto;
    display: block;
    background-color: white;
}