$sizes: (
    "small", 32px),
    ("default", 52px),
    ("medium", 72px),
    ("large", 82px
);

:host {
    display: inline-block;
    margin: 4px 2px;

    .avatar-container {
        position: relative;
        border-radius: 50%;
        overflow: hidden;

        &.ion-activatable {
            cursor: pointer;
        }
    }

    @each $type,
    $size in $sizes {
        &[ng-reflect-size="#{$type}"] {

            .avatar-wrapper {
                ::ng-deep ion-avatar {
                    height: $size;
                    width: $size;
                }
            }
        }
    }
}